h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

button{
  float: right;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
}


body{
  background-color: #1ca9c9;

}